{% extends "base.twig" %}

{% block title %}Load money
{% endblock %}

{% block content %}
	<div class="associate-bank-account">
		<h3>Load Money</h3>
		<form id="associate-bank-account" action="{{ url_for('associate-account')}}" method="POST">
			<label for="owner">Owner name:</label>
			<input type="text" id="owner" name="owner" {% if account is not empty %}
															value= "{{ account.owner_name }}"
														{% endif %} readonly/>
			{% if errors['owner'] is not empty %}
				<p class="error-msg">
					{{ errors['owner'] }}
				</p>
			{% endif %}
			<label for="iban">IBAN:</label>
			<input type="text" id="iban" name="iban" {% if account is not empty %}
															value= "{{ account.iban }}"
														{% endif %} readonly/>
			{% if errors['iban'] is not empty %}
				<p class="error-msg">
					{{ errors['iban'] }}
				</p>
			{% endif %}
			<label for="amount">Amount:</label>
			<input type="number" id="amount" name="amount" placeholder="Introduce amount" value={{data['amount']}}>
			{% if errors['amount'] is not empty %}
				<p class="error-msg">
					{{ errors['amount'] }}
				</p>
			{% endif %}
			<button type="submit" value="Load" class="btn-large waves-effect waves-light teal lighten-1">Load to account</button>
		</form>
	</div>
{% endblock %}
