{% extends "base.twig" %}
{% block title %}
	Sign in
{% endblock %}
{% block extracss %}
	<link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/login.css"/>
{% endblock %}
{% block content %}
	<style>
		body {
			background-image: url('assets/backgrounds/fondo4.jpg');
			background-size: auto;
		}
	</style>
	<div class="container">
		<form id="login-form" action="{{ url_for('login', {"id": id})}}" method="POST">
			<div class="row login">
				<div class="col s12 14 offset-14">
					<div class="card">
						<div class="card-action center red-text text-darken-4">
							<img src="assets/backgrounds/logo-simple.png" alt="logo" style="padding-top: 5%;">
						</div>
						<div class="card-content">
							<div class="form-field">
								<label for="email">Email</label>
								<input type="text" id="email" name="email" value={{data['email']}} required>
								{% if errors['email'] is not empty %}
									<p>
										{{ errors['email'] }}
									</p>
								{% endif %}
							</div>
							<br>
							<div class="form-field">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" value={{data['password']}} required>
								{% if errors['password'] is not empty %}
									<p>
										{{ errors['password'] }}
									</p>
								{% endif %}
							</div>
							<br>
							<div class="form-field center-align">
								<button type="submit" value="Login" class="btn-large waves-effect waves-light teal lighten-1">Login</button>
							</div><br>
							{% if errors['nonexistingUser'] is not empty %}
								<p>
									{{ errors['nonexistingUser'] }}
								</p>
							{% endif %}
							{% if errors['passwordIncorrect'] is not empty %}
								<p>
									{{ errors['passwordIncorrect'] }}
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
