{% extends "base.twig" %}

{% block title %}Request Money
{% endblock %}

{% block content %}
	<div class="container transactions">

		<div class="section row">
			<div class="col s12 center">
				<h5>Pending Requests</h5>
			</div>
			{% if notifications is not empty %}
				{% for notification in notifications %}
					<li>{{ notification }}</li>
				{% endfor %}
			{% endif %}
			<div class="incoming-request">
				<div class="incoming-request__header">
					<h6>Incoming Requests</h6>
				</div>
				<table class="incoming-request__table highlight responsive-table">
					<thead>
						<tr>
							<th>Email</th>
							<th>Amount</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% if incoming is not empty %}
							{% for request in incoming %}
								<tr>
									<td class="light concepto">{{request.org_email}}</td>
									<td class="light importe">
										{{request.amount}}€
									</td>
									<td>
										<a class="waves-effect waves-light btn" href="/account/money/requests/{{request.request_id}}/accept">Accept</a>
									</td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
			<div class="outgoing-request">
				<div class="outgoing-request__header">
					<h6>Outgoing Requests</h6>
				</div>
				<table class="outgoing-request__table highlight responsive-table">
					<thead>
						<tr>
							<th>Email</th>
							<th>Amount</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% if outgoing is not empty %}
							{% for request in outgoing %}
								<tr>
									<td class="light concepto">{{request.org_email}}</td>
									<td class="light importe">
										{{request.amount}}€
									</td>
									<td class="light status">
										{{request.status}}
									</td>
								</tr>
							</d>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
</div></div>{% endblock %}
