{% extends "base.twig" %}
{% block title %}
	My Profile
{% endblock %}
{% block content %}
	<style>
        p.error-msg {
			color: black !important;
		}
	</style>
	<div id="index-banner" class="empty-container">
		<form enctype="multipart/form-data" action="{{ url_for('profile_form') }}" method="POST">
			<div class="row login">
				<div class="card">
					<div class="card-action center">
						<h3 class="red-text text-darken-4">My Profile</h3>
					</div>
					<--! Linia 26 de login.twig-->
				</div>
			</div>
			<h3>My Profile</h3>
			<img src="/assets/pictures/default.png" alt="default_image" width="200" height="200">
			<p></p>
			<input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
    		<input type="file" name="files"/>
			{% if image_errors['extension'] is not empty %}
				<p class="error-msg"> {{ image_errors['extension'] }} </p>
			{% endif %}
			{% if image_errors['size'] is not empty %}
				<p class="error-msg"> {{ image_errors['size'] }} </p>
			{% endif %}
			{% if image_errors['dimension'] is not empty %}
				<p class="error-msg"> {{ image_errors['dimension'] }} </p>
			{% endif %}
			<input type="text" name="email" {% if user is not empty %}
												value= {{user['email']}}
											{% endif %}	
											readonly/>
			<input type="text" name="birthday" {% if user is not empty %}
													value= {{user['birthday']}}
												{% endif %}	
												readonly/>
			<input type="number" name="phone" placeholder="Phone"/>
			{% if form_errors['phone'] is not empty %}
				<p class="error-msg"> {{ form_errors['phone'] }} </p>
			{% endif %}
    		<input type="submit" value="Save" />
			<p> <a href="http://pwpay.grup16:8030/profile/security" style="text-decoration:underline;"> Change password </a></p>
		</form>
	</div>
{% endblock %}
