{% extends "base.twig" %}
{% block title %}
	Security
{% endblock %}
{% block content %}
	<div class="">
		<h3>Security</h3>
	</div>
	<div>
		<form enctype="multipart/form-data" action="{{ url_for('security_form') }}" method="POST">
			<input type="password" name="old_password" placeholder="Old password" />
			{% if errors is not empty %}
				<p class="error-msg"> {{ errors[''] }} </p>
			{% endif %}
			<input type="password" name="new_password" placeholder="New password" />
			{% if errors is not empty %}
				<p class="error-msg"> {{ errors[''] }} </p>
			{% endif %}
			{% if errors['new_pass'] is not empty %}
				<p class="error-msg"> {{ errors['new_pass'] }} </p>
			{% endif %}
			<input type="password" name="repeat_password" placeholder="Repeat new password"/>
			{% if errors['pass_match'] is not empty %}
				<p class="error-msg"> {{ errors['pass_match'] }} </p>
			{% endif %}
			{% if errors['pass_pattern'] is not empty %}
				<p class="error-msg"> {{ errors['pass_pattern'] }} </p>
			{% endif %}
			{% if errors['new_pass'] is not empty %}
				<p class="error-msg"> {{ errors['new_pass'] }} </p>
			{% endif %}
			{% if errors['empty_fields'] is not empty %}
				<p class="error-msg"> {{ errors['empty_fields'] }} </p>
			{% endif %}
    		<input type="submit" name="save_button" value="Save" />
            <input type="submit" name="cancel_button" value="Cancel" />
		</form>

	</div>
{% endblock %}
