{% extends "base.twig" %}
{% block title %} Register {% endblock %}
{% block content %}
    <form id="register-form"
          action="{{ url_for('register') }}"
          method="POST">
        <label>
            Email
            <input type="text" name="email">
        </label>
        {% if form_errors['email'] is not empty %}
            <p> {{ form_errors['email'] }} </p>
        {% endif %}
        {% if form_errors['emailTaken'] is not empty %}
            <p> {{ form_errors['emailTaken'] }} </p>
        {% endif %}
        <label>
            Password
            <input type="password" name="password">
        </label>
        {% if form_errors['password'] is not empty %}
            <p> {{ form_errors['password'] }} </p>
        {% endif %}
        <label>
            Birthday
            <input type="date" name="birthday">
        </label>
        {% if form_errors['birthday'] is not empty %}
            <p> {{ form_errors['birthday'] }} </p>
        {% endif %}
        <label>
            Phone
            <input type="number" name="phone">
        </label>
        {% if form_errors['phone'] is not empty %}
            <p> {{ form_errors['phone'] }} </p>
        {% endif %}
        <input type="submit" value="Register">
    </form>
{% endblock %}