{% extends "base.twig" %}

{% block title %}Request money
{% endblock %}

{% block content %}
	<style>
		p.error-msg {
			color: black !important;
		}
	</style>
	<div class="container requestMoney">
		<br></br>
	<div class="row">
		<div class="col s12 ">
			<h4>Request Money</h4>
		</div>
	</div>
	<form id="request-money" action="{{ url_for('request-money')}}" method="POST">
		<div class="card">
			<div class="card-content">
				<div class="form-field">
					<label for="email">Request money from:</label>
					<input type="text" id="email" name="email" 
					{% if data is not empty %} value={{ data['request_money_from'] }} {% endif %}/>
				</div>
				<div class="form-field">
					<label for="amount">Amount:</label>
					<input type="number" step="0.01" id="amount" name="amount" placeholder="Introduce amount" value={{data['amount']}}>
				</div>
				{% if errors['amount_error'] is not empty %}
					<p class="error-msg">
						{{ errors['amount_error'] }}
					</p>
				{% endif %}
				{% if errors['amount_negative'] is not empty %}
					<p class="error-msg">
						{{ errors['amount_negative'] }}
					</p>
				{% endif %}
				<br>
				<br>
				<div class="form-field center-align">
					<button type="submit" value="Request money" class="btn-large waves-effect waves-light teal lighten-1">Request money</button>
				</div><br>
			</div>
		</div>

	</form>
</div>{% endblock %}
