{% extends "base.twig" %}

{% block title %}Request money
{% endblock %}

{% block content %}
	<style>
		p.error-msg {
			color: black !important;
		}
	</style>
	<div class="empty-container requestMoney">
		<form action="{{ url_for('request-money')}}" method="POST">
			<div class="row profile">
				<div class="col s12 14 offset-14">
					<div class="card">
						<div class="card-action center red-text text-darken-4">
							<h5>Request Money</h5>
						</div>
						<div class="card-content">
						<br>
						<br>
						<br>
						<div class="form-field">
							<label for="email">Request money from:</label>
							<input type="text" id="email" name="email" 
							{% if data is not empty %} value={{ data['email'] }} 
							{% endif %}/>
						</div>
						{% if form_errors['nonExistingEmail'] is not empty %}
							<p class="error-msg">
						{{ form_errors['nonExistingEmail'] }}
							</p>
						{% endif %}
						{% if form_errors['emailInactive'] is not empty %}
							<p class="error-msg">
						{{ form_errors['emailInactive'] }}
							</p>
						{% endif %}
						{% if form_errors['sameEmail'] is not empty %}
							<p class="error-msg">
						{{ form_errors['sameEmail'] }}
							</p>
						{% endif %}
						<div class="form-field">
							<label for="amount">Amount:</label>
							<input type="number" step="0.01" 
							id="amount" name="amount" 
							placeholder="Introduce amount" 
							value={{data['amount']}}>
						</div>
						{% if form_errors['amount_error'] is not empty %}
							<p class="error-msg">
						{{ form_errors['amount_error'] }}
							</p>
						{% endif %}
						{% if form_errors['amount_negative'] is not empty %}
							<p class="error-msg">
						{{ form_errors['amount_negative'] }}
							</p>
						{% endif %}
						<div class="form-field center-align">
							<button type="submit" value="Request money" class="btn-large waves-effect waves-light teal lighten-1">Request money</button>
						</div>
					</div>
						<br>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
